[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OscillatorGenerator"]
	path = OscillatorGenerator
	url = https://github.com/cran/OscillatorGenerator
